<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule "(^|/)\." - [F,L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond ^/$ !(\.(gif¦jpg¦css)$¦^/$)
    RewriteRule ^(.*)$ index.php?_url=$1 [QSA,L]
</IfModule>